/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-color: CornflowerBlue;
}

/* Card styling */
.card {
    background: PowderBlue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
}

header h1 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="date"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
	box-shadow: 0px 0px 30px rgba(68, 187, 224, 0.83);
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#currentAge {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
	box-shadow: 0px 0px 30px rgba(6, 77, 164, 0.8);
}
